.btn--header_login {
  width: 65px;
  height: 16px;
  @include font(22px, $font-proximanova-semibold, $default--color__1, 400);
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-decoration: none;
  background: url("../img/Login.svg") no-repeat 100%;
  width: 115px;
  height: auto;
  display: inline-block;
}

.btn--liveChat {
  width: 65px;
  height: 16px;
  @include font(22px, $font-proximanova-semibold, $bg-footer--color-primary_1, 400);
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-decoration: none;
  background: url("../img/Chat.svg") no-repeat 100%;
  width: 162px;
  height: auto;
  display: inline-block;
}

.btn--orange{
  display: inline-block;
  height: 40px;
  width: 145px;
  background-color:$btn--bg-color-primary_1;
  border:1px $btn--bg-color-primary_1 solid;
  border-radius: 20px;
  @include font(18px, $font-proximanova-semibold, $btn--color-primary_1, 400);
  cursor: pointer;
}

.btn--grey{
  display: inline-block;
  background-color: $btn--color-primary_1;
  height: 40px;
  width: 145px;
  border: 1px $btn--color-primary_1 solid;
  border-radius: 20px;
  @include font(18px, $font-proximanova-semibold, $btn--color-primary_2--hover, 400);
  cursor: pointer;
}